{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-wrapper">
                <span id="logo">ToDo</span>
            </div>
            <div class="form-container">
                <form action="getdata" method="post">
                    {% csrf_token %}
                    <input type="text" name="task" placeholder="Enter task here...">
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
        <div class="main-body">
            <div class="card-container">
                {% for t in tasks %}
                <div class="card">
                    <p>{{t.task}}</p>
                    <div class="btn-case">
                        <a href="{% url 'deldata' task_id=t.id %}"><button>done</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>